/* 


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reminder-feature {
  max-width: 30%;
  min-width: 300px;
  height: 300px;
  border-style: double;
  background-color: pink;
  float: left
}

.reminder-card {
  border-color: black;
  border-style: solid;
  background-color: aquamarine;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.new-reminder {
  border-style: dashed;

  background-color: lemonchiffon
}

.menuLink {
  background:none!important;
  color:blue;
  border:none; 
  padding:0!important;
  font: inherit;
  border-bottom:1px solid #444; 
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px
}
 */

 /* .App {
  text-align: center;
} */

 .wrapper {
  /* text-align: center; */
  padding: 0px 15px;
  display: flex, block;
  justify-content: center;
  flex-direction: center
}

 .img-feature {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* align-items: flex-start */
 }

 .landing-image {
   background-image: url('https://images.unsplash.com/photo-1554004389-abf213c41d0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80') !important;
   background-size: cover !important;
 }

 .reminders-container {
    height: 200px;
    overflow-y: auto;
    overflow-x:hidden;
 }

 .calendar {
   height: 600px
 }

 /* .date-picker {
   margin: 0;
   max-width: 100%;
   -webkit-box-flex: 1;
   -ms-flex: 1 0 auto;
   flex: 1 0 auto;
   outline: 0;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   text-align: left;
   line-height: 1.21428571em;
   font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
   padding: .67857143em 1em;
   background: #fff;
   border: 1px solid rgba(34, 36, 38, .15);
   color: rgba(0, 0, 0, .87);
   border-radius: .28571429rem;
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
 } */

 /* .scrolled {
    height: 75px;
    overflow-y: auto;
    overflow-x:hidden;
 } */