.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-feature {
  max-width: 70%;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
}

.reminder-feature {
  max-width: 30%;
  min-width: 300px;
  height: 300px;
  border-style: double;
  background-color: pink;
  float: left
}

.reminder-card {
  border-color: black;
  border-style: solid;
  background-color: aquamarine;
  margin: 10px;
  width: 300px;
  height: 300px;
  /* float: left; */
}

.new-reminder {
  border-style: dashed;
  /* width: 500px; */
  /* float: left; */
  background-color: lemonchiffon
}

.menuLink {
  background:none!important;
  color:blue;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444; 
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px
}

